@import "../../globals.css";

.project_title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.listing_page {
  display: grid;
  /* define the number of grid columns */
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  flex-direction: row;
  flex-wrap: wrap;
}

.basicui-icon-button--circle svg {
  height: 12px;
  width: 12px;
  padding: 2px;
}

.editor_footer_container .basicui-modal-footer {
  display: block;
}

.editor_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_save {
  display: flex;
}

.icon_button {
  /* position: absolute;
  bottom: 10px;
  right: 15px; */
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: var(--theme-primary-500);
}

/* new design */

h1:first-of-type {
  font-weight: 200;
  color: hsl(234, 12%, 34%);
}

h1:last-of-type {
  color: hsl(234, 12%, 34%);
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }
}

.box p {
  /* color: hsl(229, 6%, 66%); */
  color: var(--theme-adaptive-300i);
}

.box {
  /* border-radius: 5px; */
  /* box-shadow: 0px 30px 40px -20px var(--theme-adaptive-50); */
  padding: 40px;
  margin: 25px;
  /* width: 300px; */
  height: auto;
  position: relative;
  background-color: var(--theme-adaptive-300);
  color: var(--theme-adaptive-300i);
}

img {
  float: right;
}

.cyan {
  border-top: 3px solid var(--theme-primary-500);
}



.dotted {
  border: 1px dashed var(--theme-primary-500);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h3 {
  color: var(--theme-adaptive-500i);
  font-weight: 600;
  margin: 0 0 10px 0;
}

.card-footer {
  /* margin-top: 1.25rem; */
  padding-top: 1.25rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card-footer:last-child {
  border-top: 1px solid var(--theme-adaptive-800);
}

.card-meta {
  display: flex;
  align-items: center;
  color: #787878;
}

.card-meta svg {
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
}

.card-meta:first-child:after {
  display: block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: currentcolor;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.action_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  /* padding-top: 10px;
  margin-top: 25px; */
}

.action_buttons .basicui-button {
  /* width: 75%; */
  /* border: 1px solid var(--theme-primary-500);
  background-color: var(--theme-primary-500); */
  /* font-size: 18px; */
}

.action_buttons .basicui-button:hover {
  background-color: transparent;
  border: 1px solid var(--theme-default-500);
}

.action_buttons .basicui-button svg{
  height: 15px;
  width: 15px;
}

.listing_pages {
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
}

.header_action {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: flex-end;
  gap: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #616161;
  /* flex-direction: row-reverse; */
}

.input_search{
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: flex-end;
  align-items: flex-end;
}

.input_search .basicui-button {
  /* width: 75%; */
  border: 1px solid var(--theme-primary-500);
  background-color: var(--theme-primary-500);
  /* font-size: 18px; */
}

.input_search .basicui-button:hover {
  background-color: transparent;
  border: 1px solid var(--theme-default-500);
}

.search svg {
  top: 28px;
  position: relative;
  right: -5px;
  color: var(--theme-adaptive-50i);
}

.header_action input {
  padding: 0 0 0 25px;
}

.header_action h2 {
  margin-bottom: 0px; 
  color: var(--theme-adaptive-50i);
}

.details_list {
  padding: 20px;
  margin: 10px;
  background-color: var(--theme-adaptive-300);
  color: var(--theme-adaptive-300i);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all ease 0.5s;
}

/* .details_list:hover {
  transform: translateY(-10px);
  box-shadow: 0px 2px 5px #686868
} */

/* .details_list:hover{
  border: 1px solid var(--theme-primary-500);;
} */

.details_list h5 {
  margin: 0px;
  text-transform: capitalize;
}

.details .new_item{
  background-color: #FF5722;
  border-radius: 20px;
  padding: 0 10px;
  width: 45px;
  font-size: 12px;
}

.details .old_item{
  font-weight: lighter;
  font-size: 12px;
  margin-bottom: 0px;
}

@media only screen and (max-width: 767px) {
  .header_action h2 {
    display: none; 
  }
}

.no_table_data{
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}