@import "../../globals.css";

.project_title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.listing_page {
  display: grid;
  /* define the number of grid columns */
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  flex-direction: row;
  flex-wrap: wrap;
}

/* .MuiCard-root {
  height: 150px;
  background-color:var(--theme-black-50) !important;
  color:var(--theme-black-50i) !important;
}

.MuiCardContent-root {
  padding: 20px;
  text-align: center;
  position: relative;
}

.MuiTypography-h6 {
  padding: 5px;
}

.MuiTypography-body2 {
  padding: 5px;
} */
/* .basicui-icon-button--circle {
  height: 25px;
  width: 25px;
} */
.basicui-icon-button--circle svg {
  height: 12px;
  width: 12px;
  padding: 2px;
}

.editor_footer_container .basicui-modal-footer {
  display: block;
}

.editor_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_save {
  display: flex;
}

.icon_button {
  position: absolute;
  bottom: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: hsl(180, 62%, 55%);
}

/* new design */

h1:first-of-type {
  font-weight: 200;
  color: hsl(234, 12%, 34%);
}

h1:last-of-type {
  color: hsl(234, 12%, 34%);
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }
}

.box p {
  /* color: hsl(229, 6%, 66%); */
  color: var(--theme-adaptive-300i);
}

.box {
  /* border-radius: 5px; */
  /* box-shadow: 0px 30px 40px -20px var(--theme-adaptive-50); */
  padding: 40px;
  margin: 25px;
  /* width: 300px; */
  height: auto;
  position: relative;
  background-color: var(--theme-adaptive-100);
  color: var(--theme-adaptive-300i);
}

img {
  float: right;
}

.cyan {
  border-top: 3px solid var(--theme-primary-500);
}

.red {
  border-top: 3px solid hsl(0, 78%, 62%);
}

.blue {
  border-top: 3px solid hsl(212, 86%, 64%);
}

.orange {
  border-top: 3px solid hsl(34, 97%, 64%);
}

.dotted {
  border: 1px dashed var(--theme-primary-500);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h3 {
  color: var(--theme-adaptive-500i);
  font-weight: 600;
  margin: 0 0 10px 0;
  cursor: pointer;
}

.card-footer {
  margin-top: 1.25rem;
  padding-top: 1.25rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card-footer:last-child {
  border-top: 1px solid var(--theme-adaptive-800);
}

.card-meta {
  display: flex;
  align-items: center;
  color: #787878;
}

.card-meta svg {
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
}

.card-meta:first-child:after {
  display: block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: currentcolor;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

@media (min-width: 950px) {
  /* .box {
      width: 20%;
   
  }   */
}