:root {
    --c-white: #fff;
    --c-black: #000;
    --c-ash: #eaeef6;
    --c-charcoal: #a0a0a0;
    --c-fair-pink: #FFEDEC;
    --c-apricot: #FBC8BE;
    --c-coffee: #754D42;
    --c-del-rio: #917072;
    --c-java: #1FCAC5;
    --c-titan-white: #f1eeff;
    --c-cold-purple: #a69fd6;
    --c-indigo: #6558d3;
    --c-governor: #4133B7;
}

.main-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin: 16px auto;
    width: 100%;
}

.card {
    /* border-radius: 16px; */
    /* box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25); */
    border-bottom: 3px solid var(--theme-primary-500);
}

.information {
    background-color: var(--theme-adaptive-300);
    color: var(--theme-adaptive-300i);
    width: 100%;
    padding: 2rem;
}

.information .tag {
    display: inline-block;
    font-size: 0.875rem;
    padding: 0.5em;
    line-height: 1;
    /* border-radius: 6px; */
    background-color: var(--theme-adaptive-800);
    color: var(--c-charcoal);
}

.information .tag+* {
    margin-top: 1rem;
}

.information .title {
    font-size: 1.5rem;
    color: var(--c-void);
    line-height: 1.25;
}

.information .title+* {
    margin-top: 1rem;
}

.information .info {
    color: var(--c-charcoal);
}

.information .info+* {
    margin-top: 1.25rem;
}

/* 
.information .button {
    font: inherit;
    line-height: 1;
    background-color: var(--c-white);
    border: 2px solid var(--c-indigo);
    color: var(--c-indigo);
    padding: 0.5em 1em;
    border-radius: 6px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.information .button:hover,
.information .button:focus {
    background-color: var(--c-indigo);
    color: var(--c-white);
} */

.information .details {
    display: grid;
    gap: 1rem;
    grid-template-columns: 20% auto;
}

.information .details div {
    padding: 0.75em 1em;
    background-color: var(--theme-adaptive-100);
    /* border-radius: 8px; */
    display: flex;
    flex-direction: column;
    gap: 0.125em;
    flex-basis: 50%;
}

.information dl {
    margin: 0;
}

.information .details dt {
    font-size: 0.875rem;
    color: var(--c-cold-purple);
}

.information .details dd {
    color: var(--theme-adaptive-200i);
    font-weight: 600;
    font-size: 1rem;
    margin: 0;
}