.context-bar {
  height: 42px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  border-top: 1px solid var(--theme-white-600);
  background-color: var(--theme-white-50);
  padding: 0 12px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.basicui-dark .context-bar {
  border-color: var(--theme-black-extended-800);
  background-color: var(--theme-black-200);
}

.context-bar__right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.context-bar__right button {
  margin-right: 6px;
}