main {
  margin-top: 42px;
  min-height: calc(100vh - 42px);
}

.page {
  /* padding: 0px 12px; */
  margin: 0 auto;
  padding-top: 42px;
  margin-bottom: 42px;
  max-width: 1180px;
  width: 90%;
}

.action_icons button svg {
  height: 16px;
  width: 16px;
}


.large-search-bar {
  margin-bottom: 24px;
}
.large-search-bar input {
  height: 52px;
  font-size: 24px;
  background-color: var(--theme-white-100);
  border-color: var(--theme-white-700);
  border-radius: 6px;
  padding: 0 12px;
}
.basicui-dark .large-search-bar input {
  background-color: var(--theme-black-50);
  border-color: var(--theme-black-extended-600);
}
