.feedback_form {
    padding: 20px;
  }
  
  .form_title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .question_container {
    margin-bottom: 20px;
    margin-bottom: 20px;
    /* padding: 5px 0 0 10px; */
    background-color: var(--theme-adaptive-200);
    
  }
  
  .question_label {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    background-color:var(--theme-adaptive-400);
  }
  
  .options_container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 15px 10px;
    flex-direction: column;
    color:var(--theme-adaptive-50i);
  }
  
  .option_item {
    margin-right: 20px;
  }
  
  .radio_button {
    margin-right: 5px;
  }
  
  .submit_button_container {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
  
  .submit_button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .radio_button,
  .option_item span {
    vertical-align: middle;
  }


  h5 {
	color: #AAAAAA;
    font-weight: bolder;
}

.email_container{
    padding: 20px;
}
  