/* components/Navbar.module.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 42px;
  background-color: var(--theme-primary-500);
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  justify-items: flex-start;
  padding: 0 12px;
  z-index: 10;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar li {
  display: inline-block;
  margin: 0 10px;
}

.navbar a {
  color: #fff; /* Default color for navbar links */
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: rgba(255, 255, 255, 0.7); /* Color on hover */
}

.navbar a.active {
  color: rgba(255, 255, 255, 0.9); /* Color for active link */
}

.navbar_right{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: baseline;
}