.project-questions {
    display: grid;
    grid-auto-flow: row;
    row-gap: 20px;
    padding: 24px 0;
}

.project-detail-form {
    display: grid;
    grid-auto-flow: row;
    row-gap: 12px;
}

.action_icons{
    display: flex;
    flex-direction: row;
    gap: 15px;
    cursor: pointer;
}