.objective-question {
  background-color: var(--theme-white-200);
  padding: 12px 12px;
  border-radius: 4px;
}

.basicui-dark .objective-question {
  background-color: var(--theme-black-50);
  padding: 12px 12px;
}

.objective-question__choices {
  margin-top: 12px;
  display: grid;
  grid-auto-flow: row;
  row-gap: 6px;
}

.objective-question__action {
  display: grid;
  grid-auto-flow: column;
  column-gap: 12px;
  justify-content: flex-end;
}

.objective-question__choices__choice {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 4px;
}
